
@import url('https://fonts.googleapis.com/css2?family=Shantell+Sans:ital,wght@0,300;0,400;1,300&family=Ubuntu:ital,wght@0,400;1,300;1,400&display=swap');
@font-face {
    font-family: "Ubuntu";
    src: local("Ubuntu"), url("\Ubuntu\Ubuntu-Regular.ttf") format(".ttf");

}
body {
    background-image:url(pic/3daff-16432330593294-1920.webp);
    background-repeat: no-repeat; 

}
.navigation ul {
    font: bold 11px "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
  }
  .navigation li {
    display: inline-block;
  }
  .navigation a {
    background: #d19b04;
    background: linear-gradient(#efca10, #dca40a);
    border-right: 1px solid rgba(0, 0, 0, .3);
    color: #000000;
    padding: 10px 20px;
    text-decoration: none;
  }
  .navigation a:hover {
    background: #5e4a02;
    box-shadow: inset 0 0 10px 1px rgba(0, 0, 0, .3);
  }

h1 {
    color: #080808;
    margin: 0%;
    font-family:"Ubundu";
    font-size: xx-large;
    box-shadow:  #FEE5B0;
}

a {
  
    color: black;
    text-decoration: none;
}
#Zhongli {
    border: 2px solid #F4CA16;
    opacity: 0.6;
    float: left;
    height: 370px;
}


h2 {
    border: 2px solid #F4CA16;
    width: 15%;
    margin: 40px 100px 20px 120px;
    padding: 20px 40px;
    background-color: #F06007;
    border-radius: 20px;
    opacity: 0.5;
    font-size: larger;

 }
  /*
  ========================================
  Адепты
  ========================================
*/
p {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: medium;
  font-weight: 400;
  padding-left: 2px;
  text-align: justify;
  text-indent: 2%;
  padding: 0 10px;
}
 .adeptus{
    font-family:"Ubundu";
    font-size: medium;
 }

 div img {
  float: right;
  height: 150px;
  margin: 10px 2px 10px 10px;

 }
 #MoonCarver {
  padding-right: 20px;
 }
audio {
    margin: 0% 0% 0% 80%;
    float: right;
}
/*
 ==========================================
  LiYue history
 ==========================================
*/
iframe{
  width: 600px;
  height: 450px;
  border: 5px solid whitesmoke;
  border-radius: 5px;
  margin: 30px 20px 20px 20px;
}
/*
 ==========================================
  Война архонтов
 ==========================================
*/
select {
  margin-top: 20px;
}